<?xml version="1.0" ?>
<settings>
	<category label="32101">
		<setting id="OSuser" type="text" label="32201">
		</setting>
		<setting id="OSpass" type="text" option="hidden" label="32202">
		</setting>
		<setting id="APIKey" type="text" default="qo2wQs1PXwIHJsXvIiWXu1ZbVjaboPh6">
			<level>4</level>
		</setting>
	</category>
	<category label="32102">
		<setting id="hearing_impaired" type="select" label="32211" values="include|exclude|only" default="1" />
		<setting id="foreign_parts_only" type="select" label="32212" values="include|exclude|only" default="0" />
		<setting id="machine_translated" type="select" label="32213" values="include|exclude|only" default="1" />
	</category>
</settings>
